#divFondo {
    background-color:#000;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnRegistro{
    background-color:#FFED00;
    color:#000000;
    border-color:#000;
}

.divFondoFormulario{
    background-color:#0F6292;
    padding: 20px;
}

