#divFondo {
    background-color:#000;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnRegistro{
    background-color:#FFED00;
    color:#000000;
    border-color:#000;
}

.divFondoFormulario{
    background-color:#0F6292;
    padding: 20px;
}

.menu{
    background-color:#0F6292 !important;
   /* color:white !important; */
}

.nav-item:hover {
    background-color: #FFED00;
    color: black !important ;
}

#divstiles {
    background-color:#000;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnRegistrar{
    background-color:#dfe21f;
    color:#000000;
    border-color:#000;
}

.divstilesFormulario{
    background-color:#0F6292;
    padding: 20px;
}